<% layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="container">
    <header class="text-center mt-5 mb-4">
      <h1>Recipe Details for <%= foodName %></h1>
    </header>
    
    <div class="row">
      <% for(let one of data) { %>
        <div class="col-md-6">
          <section class="recipe-details mb-4" id="recipeDetails">
            <a href="/search/<%= one.title %>">
              <h4><%= one.title %></h4>
            </a>
          </section>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
